@import '../../../styles/Variables.scss';
@import '../../../styles/Mixins.scss';

.department-todos-wrapper {
  width: $mobile;
  margin: 1rem auto;

  .department-todos-title {
    @include subTitle;
  }

  .add-department-todo-wrapper {
    @include flexSpaceBetween;
    margin-bottom: 1rem;

    .add-department-todo-title {
      @include subTitle;
    }

    .add-department-todo-btn {
      @include button2;
    }
  }
}
