@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.admin-profile-page {
  .admin-profile-page-container {
    .admin-profile-page-title {
      @include title;
      @include shadow1;
      background-color: $userSidebar-bg;
      z-index: 999;
    }

    .admin-profile-wrapper {
      display: grid;
      grid-template-columns: 15% 84%;
      column-gap: 1rem;
    }
  }
}
